/* light theme */
body {
  background-color: #e9e8fc;
}

.header__title {
  color: #474747;
}

.theme i {
  color: #474747;
}

.theme__switch {
  color: #474747;
}

.search {
  background-color: #fff;
  box-shadow: 3px 2px 5px 2px #b0b0b0;
}

::placeholder {
  color: #474747; 
}

.form__input {
  color: #474747; 
}

.form__icon {
  color: #1f5feb;
}

.result {
  background-color: #fff;
  box-shadow: 3px 2px 5px 2px #b0b0b0;
}

.name, .joined {
  color: #474747;
}

.bio {
  color: #474747;
}

.stats {
  background-color: #e9e8fc;
}

.stats > * {
  color: #474747;
}

.link {
  color: #474747;
}

.link i {
  color: #474747;
}
